In [1]:
print("Hello, World!")

Hello, World!

In [2]:
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [3]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [4]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

In [5]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [6]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (3430240237.py, line 3)

In [7]:
#This is a comment
print("Hello, World!")

Hello, World!

In [8]:
print("Hello, World!") #This is a comment

Hello, World!

In [9]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [10]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [11]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [12]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [13]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [14]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [15]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [16]:
x = "John"
# is the same as
x = 'John'

In [17]:
a = 4
A = "Sally"
#A will not overwrite a

In [18]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [19]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

In [20]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [21]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [22]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [23]:
x = "Python is awesome"
print(x)

Python is awesome

In [24]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [25]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [26]:
x = 5
y = 10
print(x + y)

15

In [27]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
x = 5
y = "John"
print(x, y)

5 John

In [29]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [30]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [31]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [32]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [33]:
x = 5
print(type(x))

<class 'int'>

In [34]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [35]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [36]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [37]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [38]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [39]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [40]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [55]:
import random

print(random.randrange(1, 10))

7

In [56]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [57]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [58]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [59]:
print("Hello")
print('Hello')

Hello
Hello

In [60]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [61]:
a = "Hello"
print(a)

Hello

In [62]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [63]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [64]:
a = "Hello, World!"
print(a[1])

e

In [65]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [66]:
a = "Hello, World!"
print(len(a))

13

In [67]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [68]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [69]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [70]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [71]:
b = "Hello, World!"
print(b[2:5])

llo

In [72]:
b = "Hello, World!"
print(b[:5])

Hello

In [73]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [74]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [75]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [76]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [77]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [78]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [79]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [80]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [81]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
age = 36
txt = "My name is John, I am "
print(txt)

TypeError: can only concatenate str (not "int") to str

In [83]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [84]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [85]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [86]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [87]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [88]:
txt = "We are the so-called \"Vikings\" from the north."