1) Use for, .split () and if to create an operator that will print words starting with 't':

In [13]:
st = 'Print only the words that start with t in this sentence'
# Код
st=st.split(" ")
res=[el for el in st if el[0]=="t"]
print(res)

['the', 'that', 't', 'this']

2) Use Range () to print all even numbers from 0 to 10. (Do not use operators for, While, if)

In [7]:
# Код
print(*range(0, 11, 2))

0 2 4 6 8 10

3) Complete ** List ** of all numbers from 1 to 50, which are divided into 3. (namely the list)

In [58]:
# Код
list=[]
for i in range(1,50):
    if(i%3==0):
     list.append(i)
print(list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

4) View the line below and, if the length of the word is even, bring “even!”

In [10]:
st = 'Print every word in this sentence that has an even number of letters'
# Код
x=len(st)
if(x%2==0):
    print("even!")
else:
    print("not even")

even!

5) Create a list of the first letters of each word in a line below:

In [6]:
st = 'Create a list of the first letters of every word in this string'
# Код
st1=[el[0]for el in st.split()]
print(st1)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

6) Find the amount of numbers in the list below: (with two ways)

In [13]:
l = [1,2,3,4,5,6,7,8,9,10]
# Код 1
print(sum(l))

55

In [20]:
l = [1,2,3,4,5,6,7,8,9,10]
# Код 2
x=0
y=0
for el in l:
 x +=el
 print(x)

1
3
6
10
15
21
28
36
45
55

7) Write the program on Python to multiply all the elements in the list.

In [21]:
l = [2,5,7,3,9]
# Код
x=1
for el in l:
 x*=el
print(x)

1890

8) Write the program on Python to get the largest number from the list.

In [27]:
l = [2,5,7,3,9,11,50,101]
max=l[0]
for i  in range(len(l)):
    if(l[i]>max):
        max=l[i]
print(max)
# Код

101

9) Write the program on Python to find common elements from two lists.

In [14]:
team_1 = ["Darkhan", "Abilay", "Azamat", "Zhasulan"]
team_2 = ["Azamat", "Darkhan", "Aset", "Bolat","Saken"]
# Код
for i in team_1:
    for j in team_2:
        if i==j:
         print(i)

Darkhan
Azamat

10) Write the program on Python to expand the list without .Append ().

In [31]:
l_1 = [10,20,30]
l_2 = [1,2,3,4,5,6]
# Вывод должен быть: [10,20,30,1,2,3,4,5,6]
# Код      
l_1.extend(l_2)
print(l_1)

[10, 20, 30, 1, 2, 3, 4, 5, 6]

11) Write the program on Python to summarize all the elements in the dictionary.

In [32]:
my_dict = {'data1':100,'data2':-54,'data3':247}
# Код
print(my_dict['data1']+my_dict['data2']+my_dict['data3'])

293

12) Write the program on Python to get the maximum and minimum value in the dictionary.

In [1]:
my_dict = {'data1': 100, 'data2': -54, 'data3': 247}
max_value = min_value = list(my_dict.values())[0]
for i in my_dict.values():
    if i > max_value:
        max_value = i
    if i < min_value:
        min_value = i

print(max_value, min_value)

247 -54

13) Write the program on Python to find those numbers that are divided by 7 and are multiple 5, between 1500 and 2700 (both are included).

In [33]:
for i in range(1500,2701):
    if(i%7==0)and(i%5==0):
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

14) Write the program on Python to count the number of even and odd numbers from a series of numbers.

In [56]:
numbers = (10,11,12,13,14,15,16,17,18,19,20)
# Код
countev=0
countod=0
for el in numbers:
    if(el%2==0):
        countev+=1
    else:
        countod+=1
print(countod,countev)

5 6

15) Write the program on Python to get a series of Fibonacci from 0 to 50.

In [34]:
a, b = 0, 1
while a <= 50:
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

16) Write the program on Python for calculating the age of the dog by dog ​​years. (For a given number 12, the conclusion should be 61 = 2x10.5+10x4)

** Note: During the first two years of a year, the dog is 10.5 human years. After that, every year the dog is 4 human years. **

In [67]:
x=int(input())
y=x-2
print(2*10.5+y*4)

61.0

17) Write the program on Python to convert the name of the month into the number of days.

In [64]:
dict= {
      'january':1,
     'february':2,
     'march':3,
     'april':4,
     'may':5,
     'june':6,
      'july':7,
      'august':8,
      'september':9,
      'october':10,
      'november':11,
      'december':12
 }
print(dict.values())

dict_values([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

18) Check whether the word is a palindrome or not.

** Note: The line is considered the palindrome if it is read the same in both directions. **

In [35]:
word = "aibohphobia"
# Код
word1=''
if word==word[::-1]:
    print("Yes")
else:
    print("No")

Yes

19) There are several students nearby, each of which has a certain number on the back. Students are going to divide into two teams, having counted them in two: those who are in even positions (based on 0) will go to team A, and those who are in an odd position will join the V. team

Your task is to calculate the difference between the sums of numbers written on the backs of students who will join the team A, and those who are written on the backs of students who join the team B.

In [3]:
students = [1, 11, 13, 6, 14, 10, 23, 25, 16, 23, 30, 9]
# Код
ev=0
od=0
for el in students:
    if el%2==0:
        ev+=el
    else:
        od+=el
x=ev-od
print(x)

-29

20) Write the program on Python to find numbers from 100 to 400 (both are included), where each number of numbers is an even number. The resulting numbers must be printed in the sequence through a comma.

In [2]:

for i in range(100,401):
    if i%2==0:
     print(i ,end=", ")

100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400,

# Great work!